
.axis line, .axis path {
    fill: none;
    stroke: #fff;
    shape-rendering: auto;
    /*stroke-width: 1.5px;
    visibility: hidden*/
}

.axis text {
	fill: #666;
}


.tick line{
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: auto;
  stroke-width: 2;
}
/*
.grid path {
  stroke-width: 2;
} */

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 2px;
}
